
app-comments-list {
  .mat-card {
    margin: 20px;
  }

  .comment {
    width: 500px;
  }
  .mat-card-title{
    width:350px;
  }
  .vote-container{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
  }

}
