<mat-spinner  color="accent" *ngIf="loading"></mat-spinner>
<div class="card-container" *ngIf="!loading">
  <mat-card class="user-info-card">
    <mat-card-title>User info</mat-card-title>
    <mat-card-subtitle>Username</mat-card-subtitle>
    <mat-card-content>{{user.userName}}</mat-card-content>
    <mat-card-subtitle>First name</mat-card-subtitle>
    <mat-card-content>{{user.firstName}}</mat-card-content>
    <mat-card-subtitle>Last name</mat-card-subtitle>
    <mat-card-content>{{user.lastName}}</mat-card-content>
    <mat-card-subtitle>Email</mat-card-subtitle>
    <mat-card-content>{{user.email}}</mat-card-content>
    <mat-card-subtitle>Sex</mat-card-subtitle>
    <mat-card-content>{{user.sex.toString()}}</mat-card-content>
    <mat-card-subtitle>Last active</mat-card-subtitle>
    <mat-card-content>{{user.lastActive}}</mat-card-content>
    <mat-card-subtitle>Registration date</mat-card-subtitle>
    <mat-card-content>{{user.registrationDate}}</mat-card-content>
    <mat-divider></mat-divider>
  </mat-card>
  <app-recipes-list class="recipes-list-placeholder" [userId]="user.userId"></app-recipes-list>
</div>
