app-root{
  .mat-card-placeholder {
    margin: 30px auto;
    width: 30%;
  }

  .full-width {
    width: 100%;
  }
  .small{
    font-size: 9px;
    color: red;
  }

  .action-buttons{
    display: flex;
    justify-content: space-between;
  }
  .mat-spinner{
    position: relative;
    margin-left: 50%;
    margin-top: 20%;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .clickable :hover{
    cursor: pointer;
  }



}
