<mat-spinner color="accent" *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <mat-card>
    <div class="row title-container">
      <div class="col">
        <mat-card-title>Recipe info</mat-card-title>
      </div>
      <div class="col">
        <div class="row">
          <div class="col vote-container">
            <div>{{recipe.rating.upVotes}}</div>
          </div>
          <div class="col clickable icon" (click)="vote(commonTypes.voteTypes.up)">
            <svg-icon src="/assets/img/plus.svg" [svgStyle]="{ 'width.px':25 }"></svg-icon>
          </div>
          <div class="col vote-container">
            <div>{{recipe.rating.downVotes}}</div>
          </div>
          <div class="col clickable icon" (click)="vote(commonTypes.voteTypes.down)">
            <svg-icon src="/assets/img/minus.svg" [svgStyle]="{ 'width.px':25 }"></svg-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col clickable" (click)="openUserInfo()">
        <mat-card class="info-container">
          <mat-card-subtitle>Author</mat-card-subtitle>
          <mat-card-content>{{recipe.author.userName}} </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="info-container">
          <mat-card-subtitle>Calories</mat-card-subtitle>
          <mat-card-content>{{recipe.calories}}</mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="info-container">
          <mat-card-subtitle>Estimated time</mat-card-subtitle>
          <mat-card-content>{{recipe.estTime}} minutes</mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="info-container">
          <mat-card-subtitle>Difficulty</mat-card-subtitle>
          <mat-card-content>{{recipe.difficulty.toString()}} </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="info-container">
          <mat-card-subtitle>Weight</mat-card-subtitle>
          <mat-card-content>{{recipe.weight}} g</mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-card>
      <mat-card-title>Description</mat-card-title>
      <mat-card-content>{{recipe.description}}</mat-card-content>
    </mat-card>

  </mat-card>
  <app-ingredients-list [recipeId]="recipe.recipeId"></app-ingredients-list>
  <app-comments-list [recipeId]="recipe.recipeId"></app-comments-list>
</div>
